.nav-bar{
    background-color: #121a34;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0 / 7%);
}

.menu-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 20px;
    &-link{
        color: rgb(233, 231, 231);
        margin-left: 20px;
        margin-top: 15px;
        :hover{
            cursor: pointer;
        }
    }
}

.title-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.title{
    color: #ed662b;
    margin-top: 5px;
    margin-left: 20px;
}

.cart-container{
    margin-right: 20px;
}
